footer{
    background: rgba(23,23,23,0.8);
    color: white;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 50px;
    margin-left: -10px;
    margin-right: -10px;
    line-height: 20px;
}
ul{
    list-style: none;
    padding: 0;
    a{
        color: white;
        &:link{
            text-decoration: none;
        }
        i{
            font-size: 15px;
            padding-right: 10px;
        }
    }
}