#background_img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#main_menu{
    background: $background-main;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    margin-bottom: -40px;
    position: relative;
    bottom: 40px;
}
#title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    h1{
        font-size: 25px;
        @media screen and (min-width: 768px){
            font-size: 32px;
        }
    }
    a{
        font-size: 25px;
        &:link{
            text-decoration: none;
            
        }
    }
    i{
        padding-right: 20px;
        color: grey;
    }
}
.liste_card{
    h2{
        font-size: 20px;
        font-weight: normal;
        margin-top: 30px
    }
}
hr{
    background: $color-tertiary;
    width: 40px;
    height: 3px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}
.bloc_menu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media screen and (min-width: 768px){
        flex-direction: row;
        justify-content: space-between;
    }
}
.card_menu{
    width: 340px;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 2px 10px lightgrey;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-name: slidein;
    position: relative;
    overflow:hidden;
    cursor: pointer;
    @media screen and (min-width: 992px){
        width: 550px;
    }
    &:nth-of-type(1){
        animation-delay: 0ms;
    }
    &:nth-of-type(2){
        animation-delay: 200ms;
    }
    &:nth-of-type(3){
        animation-delay: 400ms;
    }
    &:nth-of-type(4){
        animation-delay: 600ms;
    }
    &:hover .card_menu_check{
        width: 20%;
    }
    &:hover .card_menu_text, h3{
        width: 80%;       
    }
    &:hover i{
        visibility: visible;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-name: rotatecheck;
    }
    &:hover .prix{
        right: 22%;
    }
    h3, p{
        text-overflow:ellipsis;
        overflow:hidden;
        white-space: nowrap;
        transition: width ease 0.7s;
    }
    .prix{
        overflow: visible;
        font-weight: bold;
        @media screen and (min-width: 992px) {
            position: absolute;
            right: 10px;
            transition: right 0.5s;
        }
    }
}
.card_menu_text{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.card_menu_check{
    position:absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $color-tertiary;
    transition: width ease-in-out 0.4s;
    a{   
        color: white;
        &:link{
        text-decoration: none;
        }
    }
    i{
        position: relative;
        top: 25px;
        left: 25px;
        font-size: 25px;
        visibility: hidden;
        @media screen and (min-width: 992px){
            left: 45px;
        }
    }
}
#button_place{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes slidein{
    from{
        top: 100%;
        transform: translatey(20px);
        opacity: 0;
        visibility: hidden;
    }
    to{
        top: 0;
        transform: translatey(0);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes rotatecheck{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}