button{
    padding: 15px;
    border: 0 solid transparent;
    border-radius: 30px;
    box-shadow: 5px 2px 5px $border-shadow;
    color: $color-quaternary;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    margin: 20px;
    width: 180px;
    cursor: pointer;
    filter:brightness(1);
    transition:filter 0.5s ease;
}
button:hover{
  
    filter:brightness(1.3);
  
}
