button{
    padding: 15px;
    border: 0 solid transparent;
    border-radius: 30px;
    box-shadow: 5px 2px 5px $border-shadow;
    color: $color-quaternary;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    margin: 20px;
    width: 180px;
    cursor: pointer;
    filter:brightness(1);
    transition:filter 0.5s ease;
}
button:hover{
    filter:brightness(1.3);
    box-shadow: 5px 5px 30px grey;
}
/*les 2 coeurs sont des boutons, c'est pour cela que leurs propriétés sont ici*/
.fas.fa-heart{
    opacity: 0;
    position: relative;
    left: 45px;
    color: $color-primary;
    &:hover{
        opacity: 1;
        transition: 0.5s ease-in-out;
    }
}